.App {
  text-align: center;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.App-logo {
  height: 10vmin;
  width: 10vmin;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #65676d;
  display: flex;
  flex-direction: row; /* change flex-direction to row to position elements side by side */
  align-items: center;
  justify-content: space-between;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 20px; /* add margin to bottom to create spacing between header and other content */
  cursor: pointer;
}

.App-header h3 {
  margin-left: 20px; /* add margin to left of h3 element to create spacing between logo and h3 */
}
.App-header h3:hover,
.App-header h4:hover {
  transform: translateY(-4px);
  color: #61dafb;
}

.App-link {
  color: #61dafb;
}

.App-main {
  display: flex;
  flex-direction: column;
  border: 2px solid red;
  background-color: #282D35;
  color: #fff;
}




@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
